/* Site Name*/
#header .navbar-brand {
  font-size: 2.2em;
  font-weight: normal;
}

/* Navbar Header */
#main section[role="main"], .region-navigation {
    border-left: 0px;
    border-right: 0px;
    padding:  0px 0px 0px 0px;
    background-color: #fff;
}

.block-menu {
    background-color: #f5f5f5;
}

#block-system-main-menu .nav {
    font-size: 120%;
    font-weight: bold;
    margin: auto;
}

@media (min-width: 768px){
#block-system-main-menu .nav {
  width: 750px;
}
}

@media (min-width: 992px){
#block-system-main-menu .nav {
  width: 970px;
}
}

@media (min-width: 1200px){
#block-system-main-menu .nav {
  width: 1170px;
}
}

#header .leaf{
    display: inline-block;
    min-width: 15%;
    text-align: center;
    text-transform: uppercase;
}

#header .leaf a{
    color: #303;
}

.page-header {
  padding-top: 9px;
}

/*AT HomePage styles*/

#main {
        margin-top: 0px;
    }

.text-over p, #main .text-over h2, #main .text-over .btn-read a, #main .region-sidebar-second .side-posts a {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

#main .text-over h2 { 
    text-transform: capitalize;
}

.tagline {
    color: #fc3;
}

.btn-read, .btn-request {
  display: inline-block;
  width: 40%;
}

.btn-read {
    margin-right: 15px;
}

#main .btn-read a {
  display: block;
  background-color: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px;
  width: 100%; 
  font-weight: bold;
}

#main .btn-read a:hover {
  border: 1px solid #ffe699;
}

#main .btn-request a {
   display: block; 
   background-color: #ffe699;
   border: 1px solid #fc3;
   border-radius: 5px;
   padding: 8px;
   width: 100%;    
   font-weight: bold;
}

#main .btn-request a:hover {
  background-color: #ffcc33;
  border-color: #ffcc33;
}

.blog-tile, .blog-tile-side, .blog-banner {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.blog-tile img, .blog-tile-side img {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    
    vertical-align: middle;
}

.blog-tile img:hover, .blog-tile-side img:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

#main .blog-tile a {
    color: #fff;
}

.tile-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 0px;
}

.region-content .tile-list li {
    margin: 0px;
}
/* Banner */
.text-over {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    position: absolute; 
    z-index: 1; 
    bottom: 0; 
    left: 0;
    padding: 15px;
    text-align: center;
    border-left: 10px solid #fc3;
}

@media(max-width:991px){
.text-over {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 0px;
    width: 100%;
    top: initial;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 0px;
}
.view-taxonomy-term .text-over {
    width: 100%;
}
}

/* Tiles */
.text-over-tile {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    font-size: 1.8em;
    position: absolute; 
    z-index: 1; 
    bottom: 0; 
    left: 0;
    padding: 10px;
    text-align: center;
}
.tile-list img  {
    margin: 0px;
}

@media(min-width: 768px) and (max-width: 991px){
.text-over-tile {
    background-color: #565656;
    width: 100%;
    position: relative;
    font-size: 1.3em;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
}

@media(min-width: 768px){
    .region-sidebar-second .text-over-tile {
    font-size: 1em;
    }
}

@media(max-width: 767px){
    .blog-tile {
        border-top: 10px solid #fff;
    }
}

#main .region-sidebar-second .side-posts img{
    margin-bottom: 0px;
}

.region-sidebar-second .block {
    padding-bottom: 25px;
}

.region-sidebar-second blockquote {
    margin-bottom: 0px;
}

/* Blog Posts */
.author {
  margin-bottom: 10px;
  margin-left: 15px;
    border-left: 4px solid #ffe699;
    padding-left: 15px;
}

.author-name {
  display: inline;
  text-transform: uppercase;
}

#main .blog-btn-request a {
   background-color: #ffe699;
   border: 1px solid #fc3;
   border-radius: 5px;
   padding: 8px 20% 8px 20%;
   font-weight: bold;
}

#main .blog-btn-request a:hover {
  background-color: #ffcc33;
  border-color: #ffcc33;
}

.blog-btn-request {
    margin-top: 25px;
}

.tags-category {
    margin: 0px 20px 5px 0px;
    display: inline-block;
}

.tags {
    margin-bottom: 5px;
    display: inline-block;
}

.label-inline {
  display: inline;
  font-weight: bold;
}

/* Social */
.social a {
    padding-right: 10px;
}

i.icon-3x {
    font-size: 3em;
}

.social-post {
    margin-top: 10px;
}

/* Service Request Page */
.service-request {
    min-height: 300px;
}

.service-request .pr, .service-request .yl {
    border-radius: 20px;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

.service-request i {
    color: #fff;
    font-size: 6em;
    padding-left: 20px;
}

#main .service-request .pr h2{
    color: #fc3;
}

#main .service-request .yl h2{
    color: #303;
}

.pr {
    background-color: #303;
    position
}

.yl {
    background-color: #fc3;
}


/* Side Bar Region
#block-views-testimonial-displays-block h2 {
    
}*/

