/* Navbar */
#main section[role="main"], .region-navigation {
    border-left: 0px;
    border-right: 0px;
    padding:  0px 0px 0px 0px;
    background-color: #fff;
}

.block-menu {
    background-color: #ffe699;
}

.nav {
    font-size: 120%;
    font-weight: bold;
}

#header .leaf{
    display: inline-block;
}

#header .leaf a{
    color: #464666;
}

/* end navigation */



/*AT HomePage styles*/

#main {
        margin-top: 0px;
    }

.text-over p, #main .text-over h2, #main .text-over .btn-read a {
    color: #fff;
    margin-bottom: 20px;
}

.btn-read {
  background-color: none;
  border-color: #fff;
  margin-right: 15px;
    font-weight: bold;
}

btn-read:hover {
  border-color: #ffe699;
}

.btn-request {
  border-color: #fc3;
  background-color: #ffe699;
  margin-left: 15px;
    font-weight: bold;
}

btn-request:hover {
  background-color: #ffcc33;
  border-color: #ffcc33;}

.blog-tile {
    padding: 0px;
}
.tile-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 0px;
}

.region-content .tile-list li {
    margin: 0px;
}

#main .tile-list a {
    color: #fff;
}

@media(min-width:481px){
    .text-over {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 8px 8px 8px 8px;
    max-width: 500px;
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0;
    margin: 5% 33%;
    padding: 15px;
    text-align: center;
}
}

@media(max-width:480px){
.text-over {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    width: 100%;
    font-size: 1.8em;
    padding: 10px;
    margin: 0px;
    text-align: center
}
}

@media(min-width:481px){
    .text-over-tile {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    font-size: 1.8em;
    position: absolute; 
    z-index: 1; 
    bottom: 0; 
    left: 0;
    padding: 10px;
    text-align: center;
}
    .tile-list img  {
    margin: 0px;
    }
}

@media(max-width:480px){
.text-over-tile {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    position: relative;
    font-size: 1.8em;
    margin: 0px;
    padding: 10px;
    text-align: center
}
    .tile-list img {
    margin: 0px;
    }
}

#main .tile-xl h2{
    color: #fff;
}

#main .tile-xl a{
    color: #fc3;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #fc3;
}

.tile-sm .col-md-4{
    padding: 10px 2.5px;
}

#main .tile-sm .col-md-4 a{
    margin-top: 5px;
    padding: 10px;
    border-bottom: 2px;
    border-radius: 8px;
    border: 2px solid #303;
}

.tile-sm .col-md-4 img{
    border-bottom: 4px solid #fff;
}

.tile-sm .col-md-4:hover img{
    border-bottom: 4px solid #ffe699;
}

.tile-sm h2, .tile-sm p {
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin: 0px;
}

/* Follow Social Media*/
.social-follow {
    position: absolute;
    top: 59px;
    left: -15px;
    z-index: 1;
}
.follow {
    display: inline-block;
    padding: 10px;
    text-align:center;
}

.follow.fb {
  background: #3B5998;
}

.follow.twitter {
  background: #00ACED;
}

.follow.gplus {
  background: #DD4B39;
}

.follow.insta {
  background: #3F729B;
}

.blog-stat {
    font-size: 2em;
    margin: 20px;
}

.blog-stat .glyphicon {
    float: left;
    padding-right: 10px;
    font-size: 1.5em;
}

action-btn {
    display: block;
    margin: 33% 0%;
    
}